Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Debugging .coveragerc file
  .coveragerc
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .coveragerc
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .coveragerc
Labels: none

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Removed codecov until a solution is found for the fake data it's showing
  .github/workflows/tests.yml
  README.md
Labels: documentation, github-actions

Removed codecov until a solution is found for the fake data it's showing
  .github/workflows/tests.yml
  README.md
Labels: documentation, github-actions

Removed codecov until a solution is found for the fake data it's showing
  .github/workflows/tests.yml
  README.md
Labels: documentation, github-actions

Added stale issue possibility
  .github/stale.yml
Labels: github-actions

Added stale issue possibility
  .github/stale.yml
Labels: github-actions

Added stale issue possibility
  .github/stale.yml
Labels: github-actions

Release new version
  appointment/__init__.py
  setup.cfg
  setup.py
Labels: publishing

Release new version
  appointment/__init__.py
  setup.cfg
  setup.py
Labels: publishing

Release new version
  appointment/__init__.py
  setup.cfg
  setup.py
Labels: publishing

Fixed discrepancy between #165 and later PR
  appointment/__init__.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/static/js/appointments.js
  appointment/views.py
  appointment/views_admin.py
Labels: user-interface

Fixed discrepancy between #165 and later PR
  appointment/__init__.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/static/js/appointments.js
  appointment/views.py
  appointment/views_admin.py
Labels: user-interface

Fixed discrepancy between #165 and later PR
  appointment/__init__.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/static/js/appointments.js
  appointment/views.py
  appointment/views_admin.py
Labels: user-interface

Fixed tests accordingly
  appointment/tests/test_views.py
Labels: tests

Fixed tests accordingly
  appointment/tests/test_views.py
Labels: tests

Fixed tests accordingly
  appointment/tests/test_views.py
Labels: tests

New version to include security fix of requests
  appointment/__init__.py
Labels: none

New version to include security fix of requests
  appointment/__init__.py
Labels: none

New version to include security fix of requests
  appointment/__init__.py
Labels: none

Update readme and added possibility to send all emails with django q
  CODE_OF_CONDUCT.md
  README.md
  appointment/__init__.py
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointments/settings.py
  docs/README.md
Labels: documentation

Update readme and added possibility to send all emails with django q
  CODE_OF_CONDUCT.md
  README.md
  appointment/__init__.py
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointments/settings.py
  docs/README.md
Labels: documentation

Update readme and added possibility to send all emails with django q
  CODE_OF_CONDUCT.md
  README.md
  appointment/__init__.py
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointments/settings.py
  docs/README.md
Labels: documentation

Removed debuging code
  appointment/utils/db_helpers.py
Labels: none

Removed debuging code
  appointment/utils/db_helpers.py
Labels: none

Removed debuging code
  appointment/utils/db_helpers.py
Labels: none

Fixed tests relying on django-q
  appointment/tests/test_views.py
Labels: tests

Fixed tests relying on django-q
  appointment/tests/test_views.py
Labels: tests

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
