Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Fix translation tag
  appointment/templates/appointment/appointments.html
Labels: user-interface

Fix translation tag
  appointment/templates/appointment/appointments.html
Labels: user-interface

Client can't resubmit appointment form
  appointment/templates/appointment/appointment_client_information.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/views.py
Labels: user-interface

Client can't resubmit appointment form
  appointment/templates/appointment/appointment_client_information.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/views.py
Labels: user-interface

Client can't resubmit appointment form
  appointment/templates/appointment/appointment_client_information.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/views.py
Labels: user-interface

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Added translation for error page
  appointment/__init__.py
  appointment/templates/error_pages/304_already_submitted.html
  appointments/settings.py
  requirements.txt
Labels: dependencies, user-interface

Added translation for error page
  appointment/__init__.py
  appointment/templates/error_pages/304_already_submitted.html
  appointments/settings.py
  requirements.txt
Labels: dependencies, user-interface

Added translation for error page
  appointment/__init__.py
  appointment/templates/error_pages/304_already_submitted.html
  appointments/settings.py
  requirements.txt
Labels: dependencies, user-interface

Replacing `django.utils.timezone.utc` with `datetime.timezone.utc` in test `test_combine_date_and_time_with_timezone` This enabled tests passing for Django version bump to 5.0.x
  appointment/tests/test_utils.py
Labels: tests

Replacing `django.utils.timezone.utc` with `datetime.timezone.utc` in test `test_combine_date_and_time_with_timezone` This enabled tests passing for Django version bump to 5.0.x
  appointment/tests/test_utils.py
Labels: tests

Replacing `django.utils.timezone.utc` with `datetime.timezone.utc` in test `test_combine_date_and_time_with_timezone` This enabled tests passing for Django version bump to 5.0.x
  appointment/tests/test_utils.py
Labels: tests

Replacing `django.utils.timezone.utc` with `datetime.timezone.utc` in test `test_combine_date_and_time_with_timezone` This enabled tests passing for Django version bump to 5.0.x
  appointment/tests/test_utils.py
Labels: tests

Added funtion to convert 24h to 12h time
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
Labels: tests

Added funtion to convert 24h to 12h time
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
Labels: tests

Added funtion to convert 24h to 12h time
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
Labels: tests

Added client's reschedule features & optimized some functions
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Added client's reschedule features & optimized some functions
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Added client's reschedule features & optimized some functions
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Added model for rescheduling & more tests
  appointment/models.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
Labels: tests

Added model for rescheduling & more tests
  appointment/models.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
Labels: tests

Added model for rescheduling & more tests
  appointment/models.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
Labels: tests

Updated base tests
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Updated base tests
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Updated base tests
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Added feature for client to be able to reschedule
  appointment/admin.py
  appointment/forms.py
  appointment/services.py
  appointment/settings.py
  appointment/static/img/dog-family-colored-doodle-drawing.webp
  appointment/static/img/texture.webp
  appointment/static/img/wood-fence.webp
  appointment/static/js/appointments.js
  appointment/tasks.py
  appointment/templates/appointment/appointments.html
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/reschedule_email.html
  appointment/templates/email_sender/thank_you_email.html
  appointment/templates/error_pages/403_forbidden_rescheduling.html
  appointment/templates/error_pages/404_not_found.html
  appointment/tests/test_services.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/utils/email_ops.py
  appointment/utils/json_context.py
  appointment/views.py
  appointment/views_admin.py
Labels: tests, user-interface

Added feature for client to be able to reschedule
  appointment/admin.py
  appointment/forms.py
  appointment/services.py
  appointment/settings.py
  appointment/static/img/dog-family-colored-doodle-drawing.webp
  appointment/static/img/texture.webp
  appointment/static/img/wood-fence.webp
  appointment/static/js/appointments.js
  appointment/tasks.py
  appointment/templates/appointment/appointments.html
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/reschedule_email.html
  appointment/templates/email_sender/thank_you_email.html
  appointment/templates/error_pages/403_forbidden_rescheduling.html
  appointment/templates/error_pages/404_not_found.html
  appointment/tests/test_services.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/utils/email_ops.py
  appointment/utils/json_context.py
  appointment/views.py
  appointment/views_admin.py
Labels: tests, user-interface

Added feature for client to be able to reschedule
  appointment/admin.py
  appointment/forms.py
  appointment/services.py
  appointment/settings.py
  appointment/static/img/dog-family-colored-doodle-drawing.webp
  appointment/static/img/texture.webp
  appointment/static/img/wood-fence.webp
  appointment/static/js/appointments.js
  appointment/tasks.py
  appointment/templates/appointment/appointments.html
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/reschedule_email.html
  appointment/templates/email_sender/thank_you_email.html
  appointment/templates/error_pages/403_forbidden_rescheduling.html
  appointment/templates/error_pages/404_not_found.html
  appointment/tests/test_services.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/utils/email_ops.py
  appointment/utils/json_context.py
  appointment/views.py
  appointment/views_admin.py
Labels: tests, user-interface

Updated tests
  appointment/tests/test_views.py
Labels: tests

Updated tests
  appointment/tests/test_views.py
Labels: tests

Updated tests
  appointment/tests/test_views.py
Labels: tests

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated label in readme
  .github/workflows/publish.yml
  README.md
Labels: documentation, github-actions

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
