Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Fixed tests relying on django-q
  appointment/tests/test_views.py
Labels: tests

Update views to class based
  appointment/views.py
Labels: none

Match max-parallel with test command in workflow
  .github/workflows/tests.yml
Labels: github-actions

Match max-parallel with test command in workflow
  .github/workflows/tests.yml
Labels: github-actions

Match max-parallel with test command in workflow
  .github/workflows/tests.yml
Labels: github-actions

First working version
  appointment/templates/administration/display_appointment.html
  appointment/templates/administration/manage_day_off.html
  appointment/templates/administration/service_list.html
  appointment/templates/administration/staff_index.html
  appointment/templates/administration/staff_list.html
  appointment/templates/administration/user_profile.html
  appointment/templates/appointment/appointment_client_information.html
  appointment/templates/appointment/appointments.html
  appointment/templates/appointment/default_thank_you.html
  appointment/templates/base_templates/base.html
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/templates/email_sender/reminder_email.html
  appointment/urls.py
  appointment/views.py
  appointments/settings.py
Labels: user-interface

Rename docker-compose.yml to docker-compose.yaml
  docker-compose.yaml
Labels: none

Match max-parallel with test command in workflow
  .github/workflows/tests.yml
Labels: github-actions

Final touches of router and views
  appointment/templates/base_templates/base.html
  appointment/urls.py
  appointments/settings.py
  appointments/urls.py
Labels: user-interface

Add GHA
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/codeql.yml
  .github/workflows/compatibility_check.yml
  .github/workflows/github-actions-demo.yml
Labels: documentation, github-actions

Add fixed version of used package in setup.cfg to fix incompatibility issue
  appointment/__init__.py
  setup.cfg
Labels: publishing

Add fixed version of used package in setup.cfg to fix incompatibility issue
  appointment/__init__.py
  setup.cfg
Labels: publishing

Add fixed version of used package in setup.cfg to fix incompatibility issue
  appointment/__init__.py
  setup.cfg
Labels: publishing

Migrate django-phonenumber-field from 7.3.0 to 8.0.0
  appointment/__init__.py
  appointment/forms.py
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Migrate django-phonenumber-field from 7.3.0 to 8.0.0
  appointment/__init__.py
  appointment/forms.py
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Migrate django-phonenumber-field from 7.3.0 to 8.0.0
  appointment/__init__.py
  appointment/forms.py
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Update doc url
  README.md
  appointment/__init__.py
Labels: documentation

Update doc url
  README.md
  appointment/__init__.py
Labels: documentation

Update doc url
  README.md
  appointment/__init__.py
Labels: documentation

Clean imports and force address to be required as shown in ui
  appointment/forms.py
Labels: none

Clean imports and force address to be required as shown in ui
  appointment/forms.py
Labels: none

Clean imports and force address to be required as shown in ui
  appointment/forms.py
Labels: none

Using email if full name and username is empty
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Using email if full name and username is empty
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Using email if full name and username is empty
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_staff_member.py
Labels: tests

cleaning
  appointment/tests/models/test_staff_member.py
Labels: tests

cleaning
  appointment/tests/models/test_staff_member.py
Labels: tests

cleaning
  appointment/tests/models/test_staff_member.py
Labels: tests

Trying to fix label in readme
  .github/workflows/website-status-check.yml
Labels: github-actions

Trying to fix label in readme
  .github/workflows/website-status-check.yml
Labels: github-actions

Trying to fix label in readme
  .github/workflows/website-status-check.yml
Labels: github-actions

Trying to fix badge in readme
  .github/workflows/website-status-check.yml
  README.md
Labels: documentation, github-actions

Trying to fix badge in readme
  .github/workflows/website-status-check.yml
  README.md
Labels: documentation, github-actions

Trying to fix badge in readme
  .github/workflows/website-status-check.yml
  README.md
Labels: documentation, github-actions

Fixing doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

Fixing doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

Fixing doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

Doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

Doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

Doc badge
  .github/workflows/website-status-check.yml
Labels: github-actions

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
