Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

redesign verification code page to avoid conflict
  appointment/static/css/verification_code.css
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

redesign verification code page to avoid conflict
  appointment/static/css/verification_code.css
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

release-for-small-fix
  appointment/__init__.py
Labels: none

release-for-small-fix
  appointment/__init__.py
Labels: none

release-for-small-fix
  appointment/__init__.py
Labels: none

fix typo
  appointment/email_sender/email_sender.py
Labels: none

fix typo
  appointment/email_sender/email_sender.py
Labels: none

fix typo
  appointment/email_sender/email_sender.py
Labels: none

small fix
  appointment/static/css/verification_code.css
Labels: user-interface

small fix
  appointment/static/css/verification_code.css
Labels: user-interface

small fix
  appointment/static/css/verification_code.css
Labels: user-interface

v3.7.2
  appointment/__init__.py
Labels: none

v3.7.2
  appointment/__init__.py
Labels: none

v3.7.2
  appointment/__init__.py
Labels: none

v3.7.3
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

v3.7.3
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

v3.7.3
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

small fix
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

small fix
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

small fix
  appointment/__init__.py
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

Update README.md with improved documentation and clarity
  .env.example
  Dockerfile
  README.md
  appointments/settings.py
  docker-compose.yml
Labels: documentation

Update README.md with improved documentation and clarity
  .env.example
  Dockerfile
  README.md
  appointments/settings.py
  docker-compose.yml
Labels: documentation

Update README.md with improved documentation and clarity
  .env.example
  Dockerfile
  README.md
  appointments/settings.py
  docker-compose.yml
Labels: documentation

Conditional launching of service qcluster in docker-compose
  docker-compose.yml
Labels: none

Conditional launching of service qcluster in docker-compose
  docker-compose.yml
Labels: none

Conditional launching of service qcluster in docker-compose
  docker-compose.yml
Labels: none

Removed version at the beginning of docker-compose file
  docker-compose.yml
Labels: none

Removed version at the beginning of docker-compose file
  docker-compose.yml
Labels: none

Removed version at the beginning of docker-compose file
  docker-compose.yml
Labels: none

Admin template changed to be more personalized
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/utils/ics_utils.py
Labels: user-interface

Attempt to create ics file for appointment
  .gitignore
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/email_ops.py
  appointment/utils/ics_utils.py
  appointment/views.py
  requirements.txt
Labels: dependencies

Commented failed test, to be added later
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
Labels: tests

Run qcluster in isolate container with `django-q2`. Fix port conflict in Dockerfile. Make use of redis to send task cross the container.
  Dockerfile
  appointment/views.py
  appointments/settings.py
  docker-compose.yml
Labels: none

Run qcluster in isolate container with `django-q2`. Fix port conflict in Dockerfile. Make use of redis to send task cross the container.
  Dockerfile
  appointment/views.py
  appointments/settings.py
  docker-compose.yml
Labels: none

Run qcluster in isolate container with `django-q2`. Fix port conflict in Dockerfile. Make use of redis to send task cross the container.
  Dockerfile
  appointment/views.py
  appointments/settings.py
  docker-compose.yml
Labels: none

Fix a few test for django-q2
  .gitignore
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/utils/db_helpers.py
Labels: tests

Fix a few test for django-q2
  .gitignore
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/utils/db_helpers.py
Labels: tests

Fix a few test for django-q2
  .gitignore
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/utils/db_helpers.py
Labels: tests

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
