Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Updated label in readme
  .github/workflows/publish.yml
  README.md
Labels: documentation, github-actions

Updated label in readme
  .github/workflows/publish.yml
  README.md
Labels: documentation, github-actions

Rename workflow from running_tests to tests
  .github/workflows/tests.yml
Labels: github-actions

Rename workflow from running_tests to tests
  .github/workflows/tests.yml
Labels: github-actions

Rename workflow from running_tests to tests
  .github/workflows/tests.yml
Labels: github-actions

Fixed tests
  appointment/tests/test_services.py
Labels: tests

Fixed tests
  appointment/tests/test_services.py
Labels: tests

Fixed tests
  appointment/tests/test_services.py
Labels: tests

Updated default thank you page
  appointment/templates/appointment/default_thank_you.html
Labels: user-interface

Updated default thank you page
  appointment/templates/appointment/default_thank_you.html
Labels: user-interface

Updated default thank you page
  appointment/templates/appointment/default_thank_you.html
Labels: user-interface

Updated email templates
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Updated email templates
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Updated email templates
  appointment/templates/email_sender/reminder_email.html
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Added new template to warn admin of new appt
  appointment/templates/email_sender/admin_new_appointment_email.html
Labels: user-interface

Added new template to warn admin of new appt
  appointment/templates/email_sender/admin_new_appointment_email.html
Labels: user-interface

Added new template to warn admin of new appt
  appointment/templates/email_sender/admin_new_appointment_email.html
Labels: user-interface

Added new template for passwd handling
  appointment/templates/appointment/set_password.html
  appointment/templates/appointment/thank_you.html
Labels: user-interface

Added new template for passwd handling
  appointment/templates/appointment/set_password.html
  appointment/templates/appointment/thank_you.html
Labels: user-interface

Added new template for passwd handling
  appointment/templates/appointment/set_password.html
  appointment/templates/appointment/thank_you.html
Labels: user-interface

Improve security by letting users set their own passwords
  appointment/messages_.py
  appointment/models.py
  appointment/tasks.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/urls.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests

Improve security by letting users set their own passwords
  appointment/messages_.py
  appointment/models.py
  appointment/tasks.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/urls.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests

Improve security by letting users set their own passwords
  appointment/messages_.py
  appointment/models.py
  appointment/tasks.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/urls.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Fixed failed test : test_token_verification_after_user_deletion
  appointment/tests/models/test_model_password_reset_token.py
Labels: tests

Removed print statement
  appointment/tests/test_services.py
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

Removed print statement
  appointment/tests/test_services.py
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

Removed print statement
  appointment/tests/test_services.py
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

Used username if provided
  appointment/utils/db_helpers.py
Labels: none

Used username if provided
  appointment/utils/db_helpers.py
Labels: none

Used username if provided
  appointment/utils/db_helpers.py
Labels: none

Added docker and docker-compose file
  Dockerfile
  docker-compose.yml
Labels: none

Added docker and docker-compose file
  Dockerfile
  docker-compose.yml
Labels: none

Added docker and docker-compose file
  Dockerfile
  docker-compose.yml
Labels: none

Updated readme
  Dockerfile
  README.md
Labels: documentation

Updated readme
  Dockerfile
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
