Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Updated documentation about installation
  README.md
  appointment/__init__.py
Labels: documentation

Updated documentation about installation
  README.md
  appointment/__init__.py
Labels: documentation

Updated documentation about installation
  README.md
  appointment/__init__.py
Labels: documentation

added compatibility matrix
  .github/workflows/compatibility_check.yml
  Dockerfile.test
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
  requirements-test.txt
Labels: documentation, github-actions

added compatibility matrix
  .github/workflows/compatibility_check.yml
  Dockerfile.test
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
  requirements-test.txt
Labels: documentation, github-actions

added compatibility matrix
  .github/workflows/compatibility_check.yml
  Dockerfile.test
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
  requirements-test.txt
Labels: documentation, github-actions

Updated message and script
  compatibility_matrix.md
  compatibility_matrix.sh
Labels: documentation

Updated message and script
  compatibility_matrix.md
  compatibility_matrix.sh
Labels: documentation

Updated message and script
  compatibility_matrix.md
  compatibility_matrix.sh
Labels: documentation

cleaning up
  compatibility_matrix.sh
Labels: none

cleaning up
  compatibility_matrix.sh
Labels: none

cleaning up
  compatibility_matrix.sh
Labels: none

Updated script and readme
  .github/workflows/compatibility_check.yml
  README.md
  compatibility_matrix.sh
Labels: documentation, github-actions

Updated script and readme
  .github/workflows/compatibility_check.yml
  README.md
  compatibility_matrix.sh
Labels: documentation, github-actions

Updated script and readme
  .github/workflows/compatibility_check.yml
  README.md
  compatibility_matrix.sh
Labels: documentation, github-actions

latest compatibility matrix results
  README.md
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
Labels: documentation

latest compatibility matrix results
  README.md
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
Labels: documentation

latest compatibility matrix results
  README.md
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
Labels: documentation

Updated workflow
  .github/workflows/compatibility_check.yml
Labels: github-actions

Updated workflow
  .github/workflows/compatibility_check.yml
Labels: github-actions

Updated workflow
  .github/workflows/compatibility_check.yml
Labels: github-actions

Updated script and readme
  .github/workflows/compatibility_check.yml
Labels: github-actions

Updated script and readme
  .github/workflows/compatibility_check.yml
Labels: github-actions

Updated script and readme
  .github/workflows/compatibility_check.yml
Labels: github-actions

Update __init__.py
  appointment/__init__.py
Labels: none

Update __init__.py
  appointment/__init__.py
Labels: none

Update __init__.py
  appointment/__init__.py
Labels: none

Send email to staff member upon account creation
  appointment/__init__.py
  appointment/services.py
  appointment/tests/test_services.py
  appointment/utils/email_ops.py
  appointment/views_admin.py
Labels: tests

Send email to staff member upon account creation
  appointment/__init__.py
  appointment/services.py
  appointment/tests/test_services.py
  appointment/utils/email_ops.py
  appointment/views_admin.py
Labels: tests

Send email to staff member upon account creation
  appointment/__init__.py
  appointment/services.py
  appointment/tests/test_services.py
  appointment/utils/email_ops.py
  appointment/views_admin.py
Labels: tests

Added new tests
  appointment/templates/appointment/thank_you.html
  appointment/tests/test_services.py
  appointment/tests/utils/test_email_ops.py
Labels: tests, user-interface

Added new tests
  appointment/templates/appointment/thank_you.html
  appointment/tests/test_services.py
  appointment/tests/utils/test_email_ops.py
Labels: tests, user-interface

Added new tests
  appointment/templates/appointment/thank_you.html
  appointment/tests/test_services.py
  appointment/tests/utils/test_email_ops.py
Labels: tests, user-interface

Fix date not updating in service description
  appointment/static/js/appointments.js
Labels: user-interface

Fix date not updating in service description
  appointment/static/js/appointments.js
Labels: user-interface

Fix date not updating in service description
  appointment/static/js/appointments.js
Labels: user-interface

Fix duplicate slots when concurring request are sent
  appointment/static/js/appointments.js
Labels: user-interface

Fix duplicate slots when concurring request are sent
  appointment/static/js/appointments.js
Labels: user-interface

Fix duplicate slots when concurring request are sent
  appointment/static/js/appointments.js
Labels: user-interface

Release new version
  appointment/__init__.py
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
