Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Mock django-q2 when it's not installed in the test
  appointment/tests/utils/test_db_helpers.py
Labels: tests

django-q2 needs to be in requirements for tests to pass
  requirements.txt
Labels: dependencies

django-q2 needs to be in requirements for tests to pass
  requirements.txt
Labels: dependencies

django-q2 needs to be in requirements for tests to pass
  requirements.txt
Labels: dependencies

add USE_DJANGO_Q to tests.yml workflow
  .github/workflows/tests.yml
Labels: github-actions

add USE_DJANGO_Q to tests.yml workflow
  .github/workflows/tests.yml
Labels: github-actions

add USE_DJANGO_Q to tests.yml workflow
  .github/workflows/tests.yml
Labels: github-actions

added verbose name and verbose name plural to the working hours model
  appointment/models.py
Labels: none

added verbose name and verbose name plural to the working hours model
  appointment/models.py
Labels: none

added verbose name and verbose name plural to the working hours model
  appointment/models.py
Labels: none

Admin template changed to be more personalized
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/utils/ics_utils.py
Labels: user-interface

Admin template changed to be more personalized
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/utils/ics_utils.py
Labels: user-interface

Admin template changed to be more personalized
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/utils/ics_utils.py
Labels: user-interface

rebasing
  .gitignore
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/email_ops.py
  appointment/utils/ics_utils.py
  appointment/views.py
  requirements.txt
Labels: dependencies

rebasing
  .gitignore
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/email_ops.py
  appointment/utils/ics_utils.py
  appointment/views.py
  requirements.txt
Labels: dependencies

rebasing
  .gitignore
  appointment/email_sender/email_sender.py
  appointment/tasks.py
  appointment/utils/email_ops.py
  appointment/utils/ics_utils.py
  appointment/views.py
  requirements.txt
Labels: dependencies

Commented failed test, to be added later
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
Labels: tests

Commented failed test, to be added later
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
Labels: tests

Commented failed test, to be added later
  appointment/tests/test_views.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
Labels: tests

sending ics file, one email is sent to user and admins
  appointment/email_sender/email_sender.py
  appointment/templates/email_sender/reminder_email.html
  appointment/tests/utils/test_email_ops.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests, user-interface

sending ics file, one email is sent to user and admins
  appointment/email_sender/email_sender.py
  appointment/templates/email_sender/reminder_email.html
  appointment/tests/utils/test_email_ops.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests, user-interface

sending ics file, one email is sent to user and admins
  appointment/email_sender/email_sender.py
  appointment/templates/email_sender/reminder_email.html
  appointment/tests/utils/test_email_ops.py
  appointment/utils/email_ops.py
  appointment/views.py
Labels: tests, user-interface

v3.8.0
  README.md
  appointment/__init__.py
Labels: documentation

v3.8.0
  README.md
  appointment/__init__.py
Labels: documentation

v3.8.0
  README.md
  appointment/__init__.py
Labels: documentation

updated workflow runner to ubuntu-latest in tests.yml
  .github/workflows/tests.yml
Labels: github-actions

updated workflow runner to ubuntu-latest in tests.yml
  .github/workflows/tests.yml
Labels: github-actions

updated workflow runner to ubuntu-latest in tests.yml
  .github/workflows/tests.yml
Labels: github-actions
