Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Fixed one test
  appointment/services.py
Labels: none

Allow contributors to run the test workflow
  .github/workflows/tests.yml
Labels: github-actions

Allow contributors to run the test workflow
  .github/workflows/tests.yml
Labels: github-actions

Allow contributors to run the test workflow
  .github/workflows/tests.yml
Labels: github-actions

model.Service: move validation logic in validators
  appointment/models.py
  appointment/tests/models/test_model_service.py
Labels: tests

model.Service: move validation logic in validators
  appointment/models.py
  appointment/tests/models/test_model_service.py
Labels: tests

model.Service: move validation logic in validators
  appointment/models.py
  appointment/tests/models/test_model_service.py
Labels: tests

delete settings.get_timezone
  appointment/tests/test_utils.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/json_context.py
  docs/utils/date_time.md
Labels: documentation, tests

delete settings.get_timezone
  appointment/tests/test_utils.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/json_context.py
  docs/utils/date_time.md
Labels: documentation, tests

delete settings.get_timezone
  appointment/tests/test_utils.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/json_context.py
  docs/utils/date_time.md
Labels: documentation, tests

delete APP_TIME_ZONE
  appointment/settings.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests

delete APP_TIME_ZONE
  appointment/settings.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests

delete APP_TIME_ZONE
  appointment/settings.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests

Fixed other tests
  appointment/tests/test_services.py
  appointment/tests/test_views.py
Labels: tests

Fixed other tests
  appointment/tests/test_services.py
  appointment/tests/test_views.py
Labels: tests

Fixed other tests
  appointment/tests/test_services.py
  appointment/tests/test_views.py
Labels: tests

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

Update tests.yml
  .github/workflows/tests.yml
Labels: github-actions

delete get_timezone_txt
  appointment/utils/view_helpers.py
  appointment/views.py
  docs/utils/view_helpers.md
Labels: documentation

delete get_timezone_txt
  appointment/utils/view_helpers.py
  appointment/views.py
  docs/utils/view_helpers.md
Labels: documentation

delete get_timezone_txt
  appointment/utils/view_helpers.py
  appointment/views.py
  docs/utils/view_helpers.md
Labels: documentation

don't use settings.TIME_ZONE directly
  appointment/utils/json_context.py
  appointment/views.py
  appointments/settings.py
Labels: none

views.appointment_request_submit staff: mandatorily exists
  appointment/views.py
Labels: none

views.appointment_request_submit staff: mandatorily exists
  appointment/views.py
Labels: none

more pythonic 'redirect_to_payment' func
  appointment/views.py
Labels: none

more pythonic 'redirect_to_payment' func
  appointment/views.py
Labels: none

don't hardcode timezone in get_next_available_date_ajax
  appointment/views.py
Labels: none

don't use settings.TIME_ZONE directly
  appointment/utils/json_context.py
  appointment/views.py
  appointments/settings.py
Labels: none

Convert time object at the very end
  appointment/services.py
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_services.py
  appointment/views.py
Labels: tests, user-interface

don't hardcode timezone in get_next_available_date_ajax
  appointment/views.py
Labels: none

don't use settings.TIME_ZONE directly
  appointment/utils/json_context.py
  appointment/views.py
  appointments/settings.py
Labels: none

use timezone.now() to get current time
  appointment/views.py
Labels: none

Convert time object at the very end
  appointment/services.py
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_services.py
  appointment/views.py
Labels: tests, user-interface

don't hardcode timezone in get_next_available_date_ajax
  appointment/views.py
Labels: none

don't use settings.TIME_ZONE directly
  appointment/utils/json_context.py
  appointment/views.py
  appointments/settings.py
Labels: none

Convert time object at the very end
  appointment/services.py
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_services.py
  appointment/views.py
Labels: tests, user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
