Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Security fixes (#88)
  appointment/templates/administration/display_appointment.html
  appointment/templates/administration/manage_day_off.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/administration/service_list.html
  appointment/templates/administration/staff_index.html
  appointment/templates/administration/staff_list.html
  appointment/templates/administration/user_profile.html
  appointment/templates/appointment/appointments.html
  appointment/templates/base_templates/base.html
  appointment/templates/error_pages/403_forbidden.html
Labels: user-interface

Security fixes (#88)
  appointment/templates/administration/display_appointment.html
  appointment/templates/administration/manage_day_off.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/administration/service_list.html
  appointment/templates/administration/staff_index.html
  appointment/templates/administration/staff_list.html
  appointment/templates/administration/user_profile.html
  appointment/templates/appointment/appointments.html
  appointment/templates/base_templates/base.html
  appointment/templates/error_pages/403_forbidden.html
Labels: user-interface

Security fixes (#88)
  appointment/templates/administration/display_appointment.html
  appointment/templates/administration/manage_day_off.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/administration/service_list.html
  appointment/templates/administration/staff_index.html
  appointment/templates/administration/staff_list.html
  appointment/templates/administration/user_profile.html
  appointment/templates/appointment/appointments.html
  appointment/templates/base_templates/base.html
  appointment/templates/error_pages/403_forbidden.html
Labels: user-interface

Using celery
  requirements.txt
Labels: dependencies

Replaced celery with django-q
  requirements.txt
Labels: dependencies

Configured project to use django-q to send email reminder
  appointment/services.py
  appointment/settings.py
  appointment/tasks.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/date_time.py
  appointment/utils/db_helpers.py
Labels: user-interface

Added necessary configuration in settings
  appointments/settings.py
Labels: none

Updated documentation
  docs/README.md
  docs/history/readme_v3_0_1.md
Labels: documentation

Added test website to package's url
  appointment/__init__.py
  setup.py
Labels: publishing

Added tests
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Added & optimized existing tests
  appointment/settings.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Added & optimized existing tests
  appointment/settings.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Updated documentation
  docs/README.md
  docs/history/readme_v3_0_1.md
Labels: documentation

Using celery
  requirements.txt
Labels: dependencies

Replaced celery with django-q
  requirements.txt
Labels: dependencies

Configured project to use django-q to send email reminder
  appointment/services.py
  appointment/settings.py
  appointment/tasks.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/date_time.py
  appointment/utils/db_helpers.py
Labels: user-interface

Added & optimized existing tests
  appointment/settings.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Replaced celery with django-q
  requirements.txt
Labels: dependencies

Added necessary configuration in settings
  appointments/settings.py
Labels: none

Added tests
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Replaced celery with django-q
  requirements.txt
Labels: dependencies

Updated documentation
  docs/README.md
  docs/history/readme_v3_0_1.md
Labels: documentation

Added test website to package's url
  appointment/__init__.py
  setup.py
Labels: publishing

Using celery
  requirements.txt
Labels: dependencies

Added test website to package's url
  appointment/__init__.py
  setup.py
Labels: publishing

Added tests
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Updated documentation
  docs/README.md
  docs/history/readme_v3_0_1.md
Labels: documentation

Added test website to package's url
  appointment/__init__.py
  setup.py
Labels: publishing

Configured project to use django-q to send email reminder
  appointment/services.py
  appointment/settings.py
  appointment/tasks.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/date_time.py
  appointment/utils/db_helpers.py
Labels: user-interface

Using celery
  requirements.txt
Labels: dependencies

Added tests
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Added necessary configuration in settings
  appointments/settings.py
Labels: none

Configured project to use django-q to send email reminder
  appointment/services.py
  appointment/settings.py
  appointment/tasks.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/date_time.py
  appointment/utils/db_helpers.py
Labels: user-interface

Added necessary configuration in settings
  appointments/settings.py
Labels: none

Added & optimized existing tests
  appointment/settings.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

No non-necessary ajax request sent when no staff member selected
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

No non-necessary ajax request sent when no staff member selected (#93)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

No non-necessary ajax request sent when no staff member selected (#93)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

No non-necessary ajax request sent when no staff member selected (#93)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

Optimized variable name in order to stay consistent
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
