Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Fixing staff member selection by moving duplicate slot's code
  appointment/static/js/appointments.js
Labels: user-interface

Fixing staff member selection by moving duplicate slot's code
  appointment/static/js/appointments.js
Labels: user-interface

Fixing staff member selection by moving duplicate slot's code
  appointment/static/js/appointments.js
Labels: user-interface

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Fix username error
  appointment/__init__.py
  appointment/utils/db_helpers.py
Labels: none

Fix username error
  appointment/__init__.py
  appointment/utils/db_helpers.py
Labels: none

Fix username error
  appointment/__init__.py
  appointment/utils/db_helpers.py
Labels: none

Fix redirection to thank you when service is free
  appointment/models.py
  appointment/utils/db_helpers.py
  appointment/views.py
Labels: none

Fix redirection to thank you when service is free
  appointment/models.py
  appointment/utils/db_helpers.py
  appointment/views.py
Labels: none

Fix redirection to thank you when service is free
  appointment/models.py
  appointment/utils/db_helpers.py
  appointment/views.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Tests will fail because of model expecting username
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Tests will fail because of model expecting username
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Tests will fail because of model expecting username
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Added the new documentation website link
  README.md
Labels: documentation

Added the new documentation website link
  README.md
Labels: documentation

Added the new documentation website link
  README.md
Labels: documentation

Appointment: raise ValidationError instead of ValueError in clean()
  appointment/models.py
Labels: none

Appointment: check start time is only strictly before end time
  appointment/models.py
Labels: none

Appointment: remove useless date validity check
  appointment/models.py
Labels: none

Appointment: remove useless date validity check
  appointment/models.py
Labels: none

Appointment: raise ValidationError instead of ValueError in clean()
  appointment/models.py
Labels: none

Appointment: remove useless date validity check
  appointment/models.py
Labels: none

Appointment: raise ValidationError instead of ValueError in clean()
  appointment/models.py
Labels: none

Appointment: check start time is only strictly before end time
  appointment/models.py
Labels: none

Appointment: check start time is only strictly before end time
  appointment/models.py
Labels: none

Fixed tests for pr #156
  appointment/models.py
  appointment/tests/models/test_model_appointment_request.py
Labels: tests

Fixed tests for pr #156
  appointment/models.py
  appointment/tests/models/test_model_appointment_request.py
Labels: tests

Fixed tests for pr #156
  appointment/models.py
  appointment/tests/models/test_model_appointment_request.py
Labels: tests

Admin can change appointment's staff member
  appointment/models.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/templates/administration/staff_index.html
  appointment/urls.py
  appointment/utils/json_context.py
  appointment/views_admin.py
Labels: user-interface

Admin can change appointment's staff member
  appointment/models.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/templates/administration/staff_index.html
  appointment/urls.py
  appointment/utils/json_context.py
  appointment/views_admin.py
Labels: user-interface

Admin can change appointment's staff member
  appointment/models.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/templates/administration/staff_index.html
  appointment/urls.py
  appointment/utils/json_context.py
  appointment/views_admin.py
Labels: user-interface

Fixed one test
  appointment/services.py
Labels: none

Fixed one test
  appointment/services.py
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
