Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Enhanced logger config Colored output added for readability Improved formatting Added more logging to spot unwanted behavior easily
  appointment/email_sender/email_sender.py
  appointment/logger_config.py
  appointment/settings.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/utils/session.py
  appointment/utils/view_helpers.py
  appointment/views.py
  check_version.py
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Enhanced logger config Colored output added for readability Improved formatting Added more logging to spot unwanted behavior easily
  appointment/email_sender/email_sender.py
  appointment/logger_config.py
  appointment/settings.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/utils/session.py
  appointment/utils/view_helpers.py
  appointment/views.py
  check_version.py
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Enhanced logger config Colored output added for readability Improved formatting Added more logging to spot unwanted behavior easily
  appointment/email_sender/email_sender.py
  appointment/logger_config.py
  appointment/settings.py
  appointment/tasks.py
  appointment/utils/db_helpers.py
  appointment/utils/email_ops.py
  appointment/utils/session.py
  appointment/utils/view_helpers.py
  appointment/views.py
  check_version.py
  requirements.txt
  setup.cfg
Labels: dependencies, publishing

Remove appointment id in log to pass github-advanced-security bot test
  appointment/tasks.py
Labels: none

Remove appointment id in log to pass github-advanced-security bot test
  appointment/tasks.py
Labels: none

Remove appointment id in log to pass github-advanced-security bot test
  appointment/tasks.py
Labels: none

Fix publish workflow
  .github/workflows/publish.yml
Labels: github-actions

Fix publish workflow
  .github/workflows/publish.yml
Labels: github-actions

Fix publish workflow
  .github/workflows/publish.yml
Labels: github-actions

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

added migrations in test launch
  .github/workflows/tests.yml
Labels: github-actions

added migrations in test launch
  .github/workflows/tests.yml
Labels: github-actions

added migrations in test launch
  .github/workflows/tests.yml
Labels: github-actions

Trying to fix test
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Trying to fix test
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Trying to fix test
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Adding more debugging step in test action
  .github/workflows/tests.yml
  requirements.txt
Labels: dependencies, github-actions

Adding more debugging step in test action
  .github/workflows/tests.yml
  requirements.txt
Labels: dependencies, github-actions

Adding more debugging step in test action
  .github/workflows/tests.yml
  requirements.txt
Labels: dependencies, github-actions

Revert "django_q2 no longer needs to be installed even if not used"
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

Revert "django_q2 no longer needs to be installed even if not used"
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

Revert "django_q2 no longer needs to be installed even if not used"
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

fix conflict
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

fix conflict
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

fix conflict
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

django_q2 no longer needs to be installed even if not used
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/tests/test_settings.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointments/settings.py
  setup.cfg
Labels: documentation, publishing, tests

v3.7.0
  appointment/__init__.py
  requirements.txt
Labels: dependencies

v3.7.0
  appointment/__init__.py
  requirements.txt
Labels: dependencies

v3.7.0
  appointment/__init__.py
  requirements.txt
Labels: dependencies

removed BASE_TEMPLATE which will cause conflict for sure
  appointment/templates/error_pages/304_already_submitted.html
Labels: user-interface

removed BASE_TEMPLATE which will cause conflict for sure
  appointment/templates/error_pages/304_already_submitted.html
Labels: user-interface

removed BASE_TEMPLATE which will cause conflict for sure
  appointment/templates/error_pages/304_already_submitted.html
Labels: user-interface

redesign verification code page to avoid conflict
  appointment/static/css/verification_code.css
  appointment/templates/appointment/enter_verification_code.html
Labels: user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
