Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Optimized variable name in order to stay consistent (#94)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Optimized variable name in order to stay consistent (#94)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Optimized variable name in order to stay consistent (#94)
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Only admin and appt owner can delete it
  appointment/views_admin.py
Labels: none

Revert json response message
  appointment/views_admin.py
Labels: none

Minor fixes
  appointment/static/js/appointments.js
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/appointment/default_thank_you.html
  appointment/templates/error_pages/403_forbidden.html
  appointment/templates/error_pages/404_not_found.html
  appointment/utils/json_context.py
Labels: user-interface

Added tests
  appointment/tests/test_views.py
  appointment/utils/permissions.py
  appointment/views_admin.py
Labels: tests

Only admin and appt owner can delete it
  appointment/views_admin.py
Labels: none

Minor fixes
  appointment/static/js/appointments.js
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/appointment/default_thank_you.html
  appointment/templates/error_pages/403_forbidden.html
  appointment/templates/error_pages/404_not_found.html
  appointment/utils/json_context.py
Labels: user-interface

Only admin and appt owner can delete it
  appointment/views_admin.py
Labels: none

Added tests
  appointment/tests/test_views.py
  appointment/utils/permissions.py
  appointment/views_admin.py
Labels: tests

Added tests
  appointment/tests/test_views.py
  appointment/utils/permissions.py
  appointment/views_admin.py
Labels: tests

Added tests
  appointment/tests/test_views.py
  appointment/utils/permissions.py
  appointment/views_admin.py
Labels: tests

Revert json response message
  appointment/views_admin.py
Labels: none

Minor fixes
  appointment/static/js/appointments.js
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/appointment/default_thank_you.html
  appointment/templates/error_pages/403_forbidden.html
  appointment/templates/error_pages/404_not_found.html
  appointment/utils/json_context.py
Labels: user-interface

Minor fixes
  appointment/static/js/appointments.js
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/manage_working_hours.html
  appointment/templates/appointment/default_thank_you.html
  appointment/templates/error_pages/403_forbidden.html
  appointment/templates/error_pages/404_not_found.html
  appointment/utils/json_context.py
Labels: user-interface

Only admin and appt owner can delete it
  appointment/views_admin.py
Labels: none

Revert json response message
  appointment/views_admin.py
Labels: none

Revert json response message
  appointment/views_admin.py
Labels: none

Replaced django-q with django-q2
  requirements.txt
Labels: dependencies

Replaced django-q with django-q2
  requirements.txt
Labels: dependencies

Replaced django-q with django-q2
  requirements.txt
Labels: dependencies

Replaced django-q with django-q2
  requirements.txt
Labels: dependencies

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Added django-q2 to setup.cfg
  appointment/__init__.py
  setup.cfg
Labels: publishing

Added django-q2 to setup.cfg
  appointment/__init__.py
  setup.cfg
Labels: publishing

Added django-q2 to setup.cfg
  appointment/__init__.py
  setup.cfg
Labels: publishing

Revert publish version
  appointment/__init__.py
Labels: none

Revert publish version
  appointment/__init__.py
Labels: none

Revert publish version
  appointment/__init__.py
Labels: none

Adapted for translation
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Adapted for translation
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Adapted for translation
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
Labels: user-interface

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Updated package's version
  appointment/__init__.py
Labels: none

Fix translation tag
  appointment/templates/appointment/appointments.html
Labels: user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
