Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

Rewrote Service tests & added parallel command to GH action
  .github/workflows/tests.yml
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/__init__.py
  appointment/tests/models/test_service.py
Labels: github-actions, tests

Rewrote Service tests & added parallel command to GH action
  .github/workflows/tests.yml
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/__init__.py
  appointment/tests/models/test_service.py
Labels: github-actions, tests

Rewrote staff member tests and optimized service's tests
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Rewrote staff member tests and optimized service's tests
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Rewrote staff member tests and optimized service's tests
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Revert "Update README.md"
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Reformat more tests in models
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_day_off.py
  appointment/tests/models/test_email_verification.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Reformat more tests in models
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_day_off.py
  appointment/tests/models/test_email_verification.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Reformat more tests in models
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_day_off.py
  appointment/tests/models/test_email_verification.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_service.py
  appointment/tests/models/test_staff_member.py
Labels: tests

Added the rest of the test
  appointment/models.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_working_hours.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/tests/utils/test_validators.py
  appointment/tests/utils/test_view_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Added the rest of the test
  appointment/models.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_working_hours.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/tests/utils/test_validators.py
  appointment/tests/utils/test_view_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Added the rest of the test
  appointment/models.py
  appointment/tests/models/test_appointment.py
  appointment/tests/models/test_appointment_request.py
  appointment/tests/models/test_config.py
  appointment/tests/models/test_password_reset_token.py
  appointment/tests/models/test_payment_info.py
  appointment/tests/models/test_working_hours.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/tests/utils/test_validators.py
  appointment/tests/utils/test_view_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Fix dependant tests
  appointment/models.py
  appointment/tests/test_services.py
Labels: tests

Fix dependant tests
  appointment/models.py
  appointment/tests/test_services.py
Labels: tests

Fix dependant tests
  appointment/models.py
  appointment/tests/test_services.py
Labels: tests

Fixed ValueError for unpacking full name
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Fixed ValueError for unpacking full name
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Fixed ValueError for unpacking full name
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
Labels: tests

Fixed client email template
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Fixed client email template
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Fixed client email template
  appointment/templates/email_sender/thank_you_email.html
Labels: user-interface

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/.coveragerc
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Edited .coveragerc file
  .github/workflows/tests.yml
Labels: github-actions

Debugging .coveragerc file
  .coveragerc
  .github/workflows/tests.yml
Labels: github-actions

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
