Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]

use timezone.now() to get current time
  appointment/views.py
Labels: none

use timezone.now() to get current time
  appointment/views.py
Labels: none

remove pytz
  SECURITY.md
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: documentation, dependencies, publishing

remove pytz
  SECURITY.md
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: documentation, dependencies, publishing

remove pytz
  SECURITY.md
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: documentation, dependencies, publishing

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Release new version
  appointment/__init__.py
Labels: none

Fix corresponding tests
  appointment/tests/test_views.py
Labels: tests

Fix corresponding tests
  appointment/tests/test_views.py
Labels: tests

Fix corresponding tests
  appointment/tests/test_views.py
Labels: tests

Admin can add staff admin as in Django Admin page
  appointment/forms.py
  appointment/static/css/app_admin/staff_member.css
  appointment/templates/administration/manage_staff_member.html
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/staff_list.html
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/views_admin.py
Labels: tests, user-interface

Admin can add staff admin as in Django Admin page
  appointment/forms.py
  appointment/static/css/app_admin/staff_member.css
  appointment/templates/administration/manage_staff_member.html
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/staff_list.html
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/views_admin.py
Labels: tests, user-interface

Admin can add staff admin as in Django Admin page
  appointment/forms.py
  appointment/static/css/app_admin/staff_member.css
  appointment/templates/administration/manage_staff_member.html
  appointment/templates/administration/manage_staff_personal_info.html
  appointment/templates/administration/staff_list.html
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/views_admin.py
Labels: tests, user-interface

Added tests for lines L406 - L409 in views_admin.py
  appointment/tests/test_views.py
Labels: tests

Added tests for lines L406 - L409 in views_admin.py
  appointment/tests/test_views.py
Labels: tests

Added tests for lines L406 - L409 in views_admin.py
  appointment/tests/test_views.py
Labels: tests

Refactored view tests
  appointment/services.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/test_views.py
Labels: tests

Refactored view tests
  appointment/services.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/test_views.py
Labels: tests

Refactored view tests
  appointment/services.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/test_views.py
Labels: tests

Update models.py
  appointment/models.py
Labels: none

Update date_time.py
  appointment/utils/date_time.py
Labels: none

Update date_time.py
  appointment/utils/date_time.py
Labels: none

use a form for available slots
  appointment/forms.py
  appointment/static/js/appointments.js
  appointment/tests/test_views.py
  appointment/utils/validators.py
  appointment/views.py
Labels: tests, user-interface

use a form for available slots
  appointment/forms.py
  appointment/static/js/appointments.js
  appointment/tests/test_views.py
  appointment/utils/validators.py
  appointment/views.py
Labels: tests, user-interface

use a form for available slots
  appointment/forms.py
  appointment/static/js/appointments.js
  appointment/tests/test_views.py
  appointment/utils/validators.py
  appointment/views.py
Labels: tests, user-interface

use a form for client data
  appointment/forms.py
  appointment/templates/appointment/appointment_client_information.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

use a form for client data
  appointment/forms.py
  appointment/templates/appointment/appointment_client_information.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

delete dead function 'get_appointment_data_from_post_request'
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

delete dead function 'get_appointment_data_from_post_request'
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

use a form for client data
  appointment/forms.py
  appointment/templates/appointment/appointment_client_information.html
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests, user-interface

delete dead function 'get_appointment_data_from_post_request'
  appointment/tests/test_views.py
  appointment/views.py
Labels: tests

Remove all tests to start over with a clean state
  .github/workflows/tests.yml
  appointment/models.py
  appointment/tests/models/__init__.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_day_off.py
  appointment/tests/models/test_model_email_verification.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_payment_info.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
  appointment/tests/models/test_model_working_hours.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/utils/db_helpers.py
Labels: github-actions, tests

Remove all tests to start over with a clean state
  appointment/tests/models/__init__.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_day_off.py
  appointment/tests/models/test_model_email_verification.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_payment_info.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
  appointment/tests/models/test_model_working_hours.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Remove all tests to start over with a clean state
  appointment/tests/models/__init__.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_day_off.py
  appointment/tests/models/test_model_email_verification.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_payment_info.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
  appointment/tests/models/test_model_working_hours.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Remove all tests to start over with a clean state
  appointment/tests/models/__init__.py
  appointment/tests/models/test_appointment_reschedule_history.py
  appointment/tests/models/test_model_appointment.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_config.py
  appointment/tests/models/test_model_day_off.py
  appointment/tests/models/test_model_email_verification.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_payment_info.py
  appointment/tests/models/test_model_service.py
  appointment/tests/models/test_model_staff_member.py
  appointment/tests/models/test_model_working_hours.py
  appointment/tests/test_availability_slot.py
  appointment/tests/test_services.py
  appointment/tests/test_settings.py
  appointment/tests/test_tasks.py
  appointment/tests/test_utils.py
  appointment/tests/test_views.py
  appointment/tests/utils/__init__.py
  appointment/tests/utils/test_date_time.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_email_ops.py
  appointment/tests/utils/test_json_context.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
Labels: tests

Rewrote the basetest class (stargate theme, I'm a great fan)
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Rewrote the basetest class (stargate theme, I'm a great fan)
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Rewrote the basetest class (stargate theme, I'm a great fan)
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
Labels: tests

Rewrote Service tests & added parallel command to GH action
  .github/workflows/tests.yml
  appointment/models.py
  appointment/tests/base/base_test.py
  appointment/tests/mixins/base_mixin.py
  appointment/tests/models/__init__.py
  appointment/tests/models/test_service.py
Labels: github-actions, tests
