Repository adamspd/django-appointment, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, user-interface

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/tests/**/*"

user-interface:
  - changed-files:
      - any-glob-to-any-file:
          - "appointment/templates/**/*"
          - "appointment/static/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]

Updated readme
  Dockerfile
  README.md
Labels: documentation

Slot taken by appointments are not shown to the user anymore
  appointment/services.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/db_helpers.py
Labels: user-interface

Slot taken by appointments are not shown to the user anymore
  appointment/services.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/db_helpers.py
Labels: user-interface

Slot taken by appointments are not shown to the user anymore
  appointment/services.py
  appointment/templates/email_sender/reminder_email.html
  appointment/utils/db_helpers.py
Labels: user-interface

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Updated readme
  README.md
Labels: documentation

Small fixes & update version release
  appointment/__init__.py
  appointment/admin.py
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/base_templates/base.html
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/templates/modal/confirm_modal.html
  appointment/tests/base/base_test.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_service.py
  appointment/tests/test_services.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests, user-interface

Small fixes & update version release
  appointment/__init__.py
  appointment/admin.py
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/base_templates/base.html
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/templates/modal/confirm_modal.html
  appointment/tests/base/base_test.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_service.py
  appointment/tests/test_services.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests, user-interface

Small fixes & update version release
  appointment/__init__.py
  appointment/admin.py
  appointment/templates/appointment/rescheduling_thank_you.html
  appointment/templates/base_templates/base.html
  appointment/templates/email_sender/admin_new_appointment_email.html
  appointment/templates/error_pages/304_already_submitted.html
  appointment/templates/modal/confirm_modal.html
  appointment/tests/base/base_test.py
  appointment/tests/models/test_model_appointment_request.py
  appointment/tests/models/test_model_password_reset_token.py
  appointment/tests/models/test_model_service.py
  appointment/tests/test_services.py
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_permissions.py
  appointment/tests/utils/test_session.py
  appointment/utils/view_helpers.py
  appointment/views.py
Labels: tests, user-interface

Small fixes
  appointment/admin.py
Labels: none

Small fixes
  appointment/admin.py
Labels: none

Small fixes
  appointment/admin.py
Labels: none

Fixed tests
  appointment/tests/base/base_test.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/base/base_test.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/base/base_test.py
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Fixed tests
  appointment/tests/utils/test_db_helpers.py
Labels: tests

Updated documentation
  README.md
  appointment/__init__.py
Labels: documentation

Updated documentation
  README.md
  appointment/__init__.py
Labels: documentation

Updated documentation
  README.md
  appointment/__init__.py
Labels: documentation

Updated documentation to be more understandable
  README.md
Labels: documentation

Updated documentation to be more understandable
  README.md
Labels: documentation

Updated documentation to be more understandable
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Fix docker compose migration error documentation
  README.md
Labels: documentation

Fix docker compose migration error documentation
  README.md
Labels: documentation

Fix docker compose migration error documentation
  README.md
Labels: documentation

Update release version
  appointment/__init__.py
Labels: none

Update release version
  appointment/__init__.py
Labels: none

Update release version
  appointment/__init__.py
Labels: none
