Repository adamspd/django-appointment, pull requests merged in 2024-03, with the labels that each got.

#128 Updated documentation about installation
  README.md
  appointment/__init__.py
Labels: documentation, fix

#133 Compatibility matrix
  .github/workflows/compatibility_check.yml
  Dockerfile.test
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
  requirements-test.txt
Labels: documentation, github-actions, feature

#134 Updated script and readme
  .github/workflows/compatibility_check.yml
  README.md
  compatibility_matrix.sh
Labels: documentation, github-actions

#135 Updated compatibility matrix worklow
  .github/workflows/compatibility_check.yml
  README.md
  compatibility_matrix.md
  compatibility_matrix.sh
  django_compatible.json
  python_compatible.json
Labels: documentation, github-actions

#138 Send email to staff member upon account creation
  appointment/__init__.py
  appointment/services.py
  appointment/templates/appointment/thank_you.html
  appointment/tests/test_services.py
  appointment/tests/utils/test_email_ops.py
  appointment/utils/email_ops.py
  appointment/views_admin.py
Labels: tests, user-interface

#141 Fix date not updating in service description
  appointment/static/js/appointments.js
Labels: user-interface

#142 Fix duplicate slots when concurring request are sent
  appointment/__init__.py
  appointment/static/js/appointments.js
Labels: user-interface

#144 Fixing staff member selection by moving duplicate slot's code
  appointment/__init__.py
  appointment/static/js/appointments.js
Labels: bug, user-interface, fix

#146 Fix username error
  appointment/__init__.py
  appointment/utils/db_helpers.py
Labels: fix

#148 Fix redirection to thank you when service is free
  appointment/__init__.py
  appointment/models.py
  appointment/tests/utils/test_db_helpers.py
  appointment/utils/db_helpers.py
  appointment/views.py
Labels: bug, tests

#149 Added the new documentation website link
  README.md
Labels: documentation

#157 Fixed tests for pr #156
  appointment/models.py
  appointment/tests/models/test_model_appointment_request.py
Labels: tests, fix

#161 model.Service: move validation logic in validators
  appointment/models.py
  appointment/tests/models/test_model_service.py
Labels: tests

#159 Admin can change appointment's staff member
  appointment/models.py
  appointment/services.py
  appointment/static/js/app_admin/staff_index.js
  appointment/templates/administration/staff_index.html
  appointment/tests/test_services.py
  appointment/tests/test_views.py
  appointment/urls.py
  appointment/utils/json_context.py
  appointment/views_admin.py
Labels: enhancement, tests, user-interface, feature

#158 delete get_timezone and APP_TIME_ZONE
  appointment/settings.py
  appointment/tests/test_utils.py
  appointment/tests/utils/test_date_time.py
  appointment/utils/date_time.py
  appointment/utils/json_context.py
  appointment/utils/view_helpers.py
  appointment/views.py
  docs/utils/date_time.md
Labels: documentation, github-actions, tests

#164 let django handle the timezone
  SECURITY.md
  appointment/__init__.py
  appointment/services.py
  appointment/static/js/appointments.js
  appointment/templates/appointment/appointments.html
  appointment/tests/test_services.py
  appointment/utils/json_context.py
  appointment/utils/view_helpers.py
  appointment/views.py
  appointments/settings.py
  docs/utils/view_helpers.md
  requirements-test.txt
  requirements.txt
  setup.cfg
Labels: documentation, dependencies, tests, user-interface, publishing

#168 Fix #159 bug introductions
  appointment/__init__.py
  appointment/static/js/app_admin/staff_index.js
  appointment/templates/administration/staff_index.html
  appointment/tests/test_views.py
  appointment/views_admin.py
Labels: tests, user-interface, fix
