Repository adamspd/django-appointment, pull requests merged in 2024-09, with the labels that each got.

#260 Implement conditional email and django_q configuration and improve documentation
  .env.example
  Dockerfile
  README.md
  appointment/email_sender/email_sender.py
  appointment/settings.py
  appointment/templates/appointment/appointment_client_information.html
  appointment/views.py
  appointments/settings.py
  docker-compose.yml
Labels: documentation, user-interface

#266 Run qcluster in isolate container with `django-q2`.
  Dockerfile
  appointment/views.py
  appointments/settings.py
  docker-compose.yml
Labels: dependencies

#270 Fix tests for django-q2
  .github/workflows/tests.yml
  .gitignore
  appointment/tests/utils/test_db_helpers.py
  appointment/tests/utils/test_staff_member_time.py
  appointment/utils/db_helpers.py
  requirements.txt
Labels: dependencies, github-actions, tests, fix
